:root{
    --main-color: #ff7f02;
    --section-padding:60px;
}

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    font-family: "Work Sans" , "sans serif";
}

.parent{
    background-color: lightslategray;
    
}

.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.d{
    color: #7f2323;
    font-size: 25 px;
    line-height: 12;
    text-transform: uppercase;
    float: right;
    padding-right: 10 px;
}
.a{
    color: #7f2323;
    font-size: 25 px;
    line-height: 12;
    text-transform: uppercase;
    float: left;
    padding-right: 10 px;
}
.kampanya{
    float: inherit;
}
.end{
    padding-bottom: 15 px;
}
.size{
    font-size: 100 px;
    color: green;
}

/* small */
@media (min-width: 768px) {
    .container{
        width: 750px;
    }
}

/* medium */
@media (min-width: 992px) {
    .container{
        width: 970px;
    }
}

/* large */
@media (min-width: 1200px) {
    .container{
        width: 1170px;
    }
}

.header{
    padding: 15px;
}
 .header .container{
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 .header .logo{
     width: 120px;
 }
 .landing{
     background-image: url(../img/background.jpg);
     background-size: cover;
     height: calc(100vh - 64px);
     position: relative;
 }
 .landing .intro-text{
     position: absolute;
     left: 50%;
     top: 50%;
     text-align: center;
     transform: translate(-50%, -50%);
     
 }
 .landing .intro-text h1{
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    color: var(--main-color);
 }
 .landing .intro-text p{
    font-size: 19px;
    line-height: 1.8;
    color: seashell;
 }

.features{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: black;
    text-align: center;
}
.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill);
    
}
.features .feat h3{
    margin: 30px;
    font-weight: 800;
    font-size: 50px;
    color: var(--main-color);
}
.features .feat p{
    font-size: 19px;
    line-height: 1.8;
    color: seashell;
}
.special-heading{
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
}
.special-heading +p{
    margin: -30px 0 0;
    font-size: 20px;
    text-align: center;
    color: #1a7862;
}
@media (max-width:767px) {
    .special-heading{
        font-size: 60px;
    }
    .special-heading + p{
        margin-top: -20px;
    }
}
.contact{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: rgb(162, 163, 163);
}
.contact .info{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
}
.contact .info .label{
    font-size: 40px;
    font-weight: 800;
    color: rgb(32, 56, 55);
    letter-spacing: -2px;
    margin-bottom: 15px;
}
.contact .info .link{
    display: block;
    font-size: 40px;
    font-weight: 800;
    color: #1a7862;
    text-decoration: none;
}
.contact .info .social{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 16px;
}
.contact .info .social i{
    margin-left: 10px;
    color: #1a7862;
}
@media (max-width:767px){
    .contact .info .label,
    .contact .info .link{
        font-size: 25px;
    }
}
.footer{
    background-color: rgb(47, 41, 87);
    color: white;
    padding: 30px 10px;
    text-align: center;
    font-size: 16px;
}
.footer span{
    font-weight: bold;
    color: #1a7862;
}
.final{
    background-image: url(../img/teşşekurler.jpeg);
     background-size: cover;
     height: calc(100vh - 64px);
     position: relative;
}
.final .thank-text{
    position: absolute;
     left: 50%;
     top:  20%;
     text-align: center;
     transform: translate(-50%, -50%);
}
.final .thank-text h1{
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    color: black;
}
.signature{
    background-image: url(../img/signature.png) ;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: white;
    align-items: center;
    padding-right: 250px;
}
.signature .name{
    margin-left: 250px;
    margin-top: 10px;
    align-items: center;
    
}
.signature .mail{
    margin-left: 250px;
    margin-top: 10px;
    align-items: center;
}
.signature .send{
    margin-left: 250px;
    margin-top: 10px;
    align-items: center;
}
@media (max-width:767px) {
    .signature .name,
    .signature .mail,
    .signature .send{
        width: 230px;
        margin-left: 40px;
    }
}
.signature .si h1{
    margin-left: 100px;
    font-weight: 800;
    font-size: 50px;
    color: var(--main-color);
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;

}